fastapi
uvicorn[standard]
python-multipart
Jinja2

python-dotenv
pydantic
pydantic-settings

SQLAlchemy
psycopg[binary]

pymongo

openai
stripe

python-jose[cryptography]
bcrypt

opencv-python
Pillow
numpy
pytesseract
rembg
onnxruntime
ultralytics

reportlab
apscheduler
